.admin-panel {
    header {
        display: flex;
        justify-content: space-between;

        h1 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 300%;
        }

        div {
            // display: flex;
            // vertical-align: middle;
            margin: auto 0;
            
            a {
                text-decoration: none;
                padding: 15px 20px;
                color: white;
                background-color: #833ae0;
                border: none;
                color: #ffffff;
                background-color: #833AE0;
                cursor: pointer;
                font-size: 15px;
            }

            a:active {
                opacity: 0.5;
                transition: 0.1s;
            }
        }
    }
}

.admin-panel-per-coin {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
}


.admin-panel-edit-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.admin-panel-edit-link {
    text-decoration: none;
    margin-left: 32px;
    min-width: 120px;
    color: #000000;
    background-color: #E5E5E5;
    cursor: pointer;
    border: none;
    height: 50px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.admin-panel-delete-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.admin-panel-delete-btn {
    margin-left: 32px;
    min-width: 120px;
    color: #000000;
    background-color: #E5E5E5;
    cursor: pointer;
    border: none;
    height: 50px;
    font-weight: normal;
}

.admin-panel-create-wrapper {
    display: flex;
    justify-content: flex-start;
    // margin-top: 40px;
    max-width: 390px;
    min-width: 350px;
}

.admin-panel-add-coin-circle {
    border: 1px solid #000000;
    border-radius: 100%;
    min-width: 150px;
    min-height: 150px;
    display: flex;
    flex-wrap: nowrap;
}

.admin-panel-add-coin-circle span {
    display: inline-block;
    margin: auto auto;
}

.admin-panel-add-coin-text {
    max-width: 350px;
    margin-left: 30px;
    display: flex;
    flex-wrap: nowrap;   
}

.admin-panel-add-coin-text span {
    margin: auto;
}

.admin-panel-create-link {
    max-width: 390px;
    min-width: 350px;
    display: inline-block;
    text-decoration: none;
}

.admin-panel-create-link:hover {
    opacity: 0.5;
    transition: 1s;
}

.admin-panel-add-coin {
    margin-top: 40px;
}