.pagination {
    ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        li {
            border: 1px solid black;
            cursor: pointer;
        }
    }
}